body {
     background-color:black;
 }
 
.testimg1 {
	position:relative;
	padding:10px;
}

.importPic {
	}

.textStyle {
	background-color: white;
	height: 50px;
	width: 100%;
}

.canvasStyle {
         position:absolute;
         bottom:0;
         left:0;
         margin:10;
         width:400;
         height:200;
         padding:10px;
         background-color:white;
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         -khtml-border-radius: 5px;
         border-radius: 5px;
 }

.picImportStyle {
	}

.preferencesButton {
	position:absolute;
	bottom:0px;
	right:0px;
	width:30px;
	height:30px; 
}


.actionSelector {
	position: absolute;
	background-color:white;
	left:20%;
	top:20%;
	height:60%;
	width:60%;
	visibility:hidden;
}

.actionButton {
	position:relativ;
	width:80%;
	height:20%;
	left:10%;
	top:10%;
	border-style:solid;
	border-color:black;
	border-width:2px;
	padding:5px;
}